body {
    font-family: Poppins, sans-serif;
    /* margin: 0 8em; */
    margin-bottom: 10em;

    /* better way of doing web width  */
    width: 82%;
    margin-inline: auto;
}

a {
    text-decoration: none;
    color: black;
}


/* header-section  */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 0;
}

.web-name {
    font-size: 1.4rem;
    font-weight: 600;
}

.header-right-section {
    display: flex;
    gap: 1.6em;
    font-weight: 600;
}

.header-right-section img {
    width: 24PX;

}


/* first-section */
.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.txt1 {
    font-size: 3rem;
    font-weight: 600;
    max-width: 15em;
}

.txt2 {
    font-weight: 500;
    max-width: 40em;
}

.pre-book {
    border: none;
    padding: 0.6em 1em;
    font-size: 1em;
    font-weight: 600;
    border-radius: 1.7em;
    background-color: rgb(224, 44, 109);
    color: white;
}
.pre-book:hover {
    background-color:rgb(187, 39, 155) ;
}

.first-section-right {
    background: url(../images/Circle\ design.svg) no-repeat;
    padding: 1.7em;
}


/* second-section */
.second-section {
    display: flex;
    /* gap: 4em; */
    justify-content: center;
    align-items: center;
    margin-top: 4em;

    /* box-shadow: 0 30px 40px rgba(0,0,0,.1); */
    /* for fading border  */
     border:  2px solid rgb(218, 221, 223);
    /* border-left: 150px solid transparent;
    border-right: 150px solid transparent; */
    padding: 2.3em;

    /* for marquee animation  */
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
        to right, /* defines it as hizontal  */
        /* fading 4 left side  */
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        /* fading 4 righ side  */
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)) ; 
        /* hides parts of an element that it is applied to*/
}

@keyframes scrollleft {
    to {
        left: -200px;
        /* tells to start the keyframe/animation at that specific location */
    }
}

.item {
    width: fit-content;
    position: absolute;
    left: max(calc(200px * 7), 100%);

    animation-name: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Duration*Delay-1 */
.item1 {
    animation-delay: -25.7;
}
.item2 {
    /* animation-delay: calc((30s / 7) * (7-2)* -1); */
    animation-delay:-21.4s ;
}
.item3 {
    animation-delay: -17.14s;
}
.item4 {
    animation-delay: -12.85s;
}
.item5 {
    animation-delay: -8.57s;
}
.item6 {
    animation-delay: -4.28s;
}
.item7 {
    animation-delay: 4.2s;
}